---
import Layout from '../layouts/Layout.astro';
import ShoppingCart from '../components/ShoppingCart'
import CartCounter from '../components/CartCounter'
---

<Layout title="Cart">
	<div class="container">
		<section class="section-cart-summary">
			<div class="container-cart-summary">
				<span class="cart-summary">
					<CartCounter {...{ includeText: true }} client:load />
				</span>
			</div>
		</section>
		<div class="cart-container">
			<main class="cart">
				<ShoppingCart client:load />
			</main>
		</div>
	</div>
</Layout>

<style>
	.container {
		max-width: 1280px;
		margin-left: auto;
		margin-right: auto;
		padding: 1rem;
	}
	.cart-container {
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}
	.cart {
		width: 75%;
    	flex: 1 1 auto;
	}
	.section-cart-summary {
		padding-top: 1.75rem;
		padding-bottom: 1.75rem;
		background-color: rgb(219, 234, 254);
	}
	.container-cart-summary {
		padding-left: 1rem;
		padding-right: 1rem;
		max-width: 1280px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	.cart-summary {
		font-weight: 600;
		font-size: 1.875rem;
		line-height: 2.25rem;
		margin-bottom: .5rem;
	}
</style>
