---
import Layout from '../layouts/Layout.astro';
import PokemonCard from '../components/PokemonCard.astro';
import CartCounter from '../components/CartCounter'
import { getAllPokemon } from '../data/data-fetch';

const pokemons = await getAllPokemon()
---

<Layout title="">
	<div class="container">
		<main>

			

			<div class="product-list">
				<div class="grid-container">
					{pokemons.map((pokemon : any) => (
						<PokemonCard
							id={pokemon.id} 
							name={pokemon.name} 
							imageUrl={pokemon.imageUrl} 
							types={pokemon.types} 
						/>
					))}
				</div>
			</div>

			<CartCounter client:visible />
		</main>
	</div>
</Layout>

<style>
	.container {
		font-size: clamp(1em, 2vw, 2em);
		box-sizing: border-box;
		max-width: 1600px;
		margin: auto;
	}
	.product-list {
		width: calc(100% - 2rem);
		margin: auto;
	}
	.grid-container {
		display: block;
		margin: auto; 
  	}
	@media (min-width: 640px) {
		.container {
			padding: 6rem;
		}
		.grid-container {
			display: grid;
			grid-template-columns: repeat(2, minmax(0, 1fr))
		}
	}
	@media (min-width: 1024px) {
		.grid-container {
			grid-template-columns: repeat(3, minmax(0, 1fr));
			margin-bottom: 0;
		}
	}
	@media (min-width: 1280px) {
		.grid-container {
			grid-template-columns: repeat(4, minmax(0, 1fr));
			max-width: 112rem;
		}
	}
</style>
