html,
body {
    font-family: system-ui;
    padding: 0;
    margin: 0;
    height: 100%;
    color: #000;
}

a {
    color: rgb(0, 84, 112);
}

header {
    max-width: 1600px;
    margin: auto;
    background-color: aliceblue;
}

ul {
    margin: 0;
    padding-left: 3rem;
    overflow: hidden;
    line-height: 3rem;
}

.topnav a {
    text-decoration: none;
    padding: 1rem 3rem;
}

.topnav a:hover {
    background-color: rgb(0, 15, 83);
    color: #fff;
}

.topnav ul {
    list-style: none;
}

.topnav li {
    float: left;
}

.container {
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    /*padding: 1em;*/
    box-sizing: border-box;
    /*width: 100%;*/
    padding-bottom: 3rem;
    /*padding-left: 3rem;
    padding-right: 3rem;*/
    /*max-width: 1280px;*/
    max-width: 1600px;
    margin: auto;
}

.grid-container {
    display: block;
    margin: auto;
}

@media (min-width: 640px) {
    .container {
        ppppadding: 6rem;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}

@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        margin-bottom: 0;
    }
}

@media (min-width: 1280px) {
    .grid-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        max-width: 112rem;
    }
}

.article-item {
    position: relative;
    justify-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin: 0.75rem;
    border: 1px solid rgb(107, 114, 128);
    border-radius: 0.5rem;
    transition-duration: 150ms;
}

.article-item:hover {
    background-color: rgb(38, 38, 38, 0.3);
    cursor: pointer;
}

.article-link {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
}

.article-heading {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    margin: 0;
}

.article-image {
    margin: 1rem;
    aspect-ratio: 1/1;
    max-width: 20rem;
    margin-inline: auto;
}

.article-image img {
    aspect-ratio: auto 500 / 300;
    width: 100%;
    height: auto;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
}

.details-1 {
    display: flex;
    margin-left: 0.5rem;
    column-gap: 0.5rem;
}

.details-1 div {
    padding: 0.5rem;
    border: 2px solid rgb(75, 85, 99);
    border-radius: 0.375rem;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
}

.action-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition-duration: 150ms;
    line-height: 1.5;
    font-weight: 500;
    padding-top: 0.625rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: 2px solid rgb(21, 94, 117);
    border-radius: 0.25rem;
    background-color: transparent;
}

.action-button:hover {
    color: #fff;
    background-color: rgb(4, 59, 76);
    border-color: rgb(21, 94, 117);
}

.pokemon-info {
    text-align: center;
}

.types-container {
    display: flex;
    justify-content: center;
    column-gap: 0.5rem;
}

.types-container div {
    padding: 0.5rem;
    border: 2px solid rgb(75, 85, 99);
    border-radius: 0.375rem;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
}

.stat-container {
    display: flex;
    flex-direction: column;
}

.types-container,
.stat-container {
    margin-bottom: 3rem;
}

.stat-item-container {
    display: flex;
    align-items: stretch;
}

.stat-item {
    width: 100%;
}

.stat-item-property {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stat-indicator {
    width: 100%;
}

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: lightgray;
}

progress::-webkit-progress-value {
    background-color: darkblue;
}

progress[value]::-moz-progress-bar {
    background-color: darkblue;
}

.item-h-line {
    border-color: lightgrey;
    width: 100%;
}

.cart-button {
    text-align: center;
}

.cart-page,
.details-page {
    max-width: 1280px;
    margin: auto;
    padding: 1rem;
}

.section-cart {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.cart-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.cart {
    width: 75%;
    flex: 1 1 auto;
}

.cart-item-container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border: 1px solid rgb(229, 231, 235);
    border-radius: .25rem;
}

.cart-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.item-details-container {
    width: 25%
}

.item-details {
    margin: 0
}

.quantity-container {
    width: 8rem;
}

.quantity-controls {
    background-color: transparent;
    border-radius: .5rem;
    display: flex;
    flex-direction: row;   
    /*width: 100%;*/
    height: 2.5rem;
    margin-top: .25rem;
    position: relative;
}

.quantity-controls > input, .quantity-controls > button {
    border: 0px solid white;
}

.quantity-controls > input {
    appearance: textfield;
    -moz-appearance:textfield;
}

.quantity {
    display: flex;
    font-weight: 600;
    text-align: right;
    background-color: rgb(209, 213, 219);
    align-items: center;
    width: 100%;
}

.quantity-button {
    color: rgb(75, 85, 99);
    background-color: rgb(209, 213, 219);
    cursor: pointer;
    width: 5rem;
    height: 100%;
}

.button-left {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.button-right {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.quantity-button:hover {
    color: rgb(55, 65, 81);
    background-color: rgb(156, 163, 175);
}

.cart-button-label {
    margin: auto;
}

.button-container {
    flex: 1 1 auto;
}

.button-remove-container {
    float: right;
}

.button-remove {
    color: rgb(220, 38, 38);
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid rgb(229, 231, 235);
    border-radius: .375rem;
    cursor: pointer;
    display: inline-block;
    transition-duration: 150ms;
}

.button-remove:hover {
    color: #fff;
    background-color: rgb(220, 38, 38);
    border-color: rgb(136, 1, 1);
}

*::after, *::before {
    border: 0 solid #e5e7eb;
}

.section-cart-summary {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    background-color: rgb(219, 234, 254);
}

.container-cart-summary {
    padding-left: 1rem;
    padding-right: 1rem;
}

.cart-summary {
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: .5rem;
}