<div.container>
  <header>
  </header>
  <main>
    <todo-app />
  </main>
</div>

style {
  .container {
    align-items: center;
    font-size: clamp(1em, 2vw, 1em); 
    padding: 1em;
    box-sizing: border-box;
    height:100%;
    width:100%;
  }
  img.logo {
    width:12em;
  }
}
