---
import CartCounter from "./CartCounter";
---

<nav class="topnav">
    <ul>
        <li>
            <a href="/">Pokemons</a>
        </li>
        <li>
            <a href="/cart">
                Cart:
                <CartCounter client:load />
            </a>
        </li>
    </ul>
</nav>

<style>
    ul {
        margin: 0;
        overflow: hidden;
        line-height: 3rem;
    }
    .topnav a {
        text-decoration: none;
        padding: 1rem 3rem;
    }
    .topnav a:hover {
        background-color: rgb(0, 15, 83);
        color: #fff;
    }
    .topnav ul {
        list-style: none;
    }
    .topnav li {
        float: left;
    }
</style>
